.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
  }
  
  .products-container h3 {
    width: 1330px;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #000000;
  }
  
  .products {
    height: 550px;
    width: 1330px;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }